EXT_PACKAGES_NAME[1]="luci-app-vlmcsd"
EXT_PACKAGES_PATH[1]="applications/luci-app-vlmcsd"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_NAME[2]="luci-app-webadmin"
EXT_PACKAGES_PATH[2]="applications/luci-app-webadmin"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[2]=""
EXT_PACKAGES_NAME[3]="vlmcsd"
EXT_PACKAGES_PATH[3]="net/vlmcsd"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/packages"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_NAME[4]="shortcut-fe"
EXT_PACKAGES_PATH[4]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[4]="package"
EXT_PACKAGES_NAME[5]="nft-fullcone"
EXT_PACKAGES_PATH[5]=""
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/fullcone-nat-nftables/nft-fullcone"
EXT_PACKAGES_BRANCH[5]=""
EXT_PACKAGES_NAME[6]="luci-app-turboacc"
EXT_PACKAGES_PATH[6]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[6]=""
EXT_PACKAGES_NAME[7]="luci-app-adguardhome"
EXT_PACKAGES_PATH[7]=""
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[7]=""
EXT_PACKAGES_NAME[8]="luci-app-netspeedtest"
EXT_PACKAGES_PATH[8]=""
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/sirpdboy/NetSpeedTest"
EXT_PACKAGES_BRANCH[8]=""
EXT_PACKAGES_NAME[9]="luci-theme-argon"
EXT_PACKAGES_PATH[9]=""
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[9]=""
EXT_PACKAGES_NAME[10]="wrtbwmon"
EXT_PACKAGES_PATH[10]="wrtbwmon"
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/brvphoenix/wrtbwmon"
EXT_PACKAGES_BRANCH[10]=""
EXT_PACKAGES_NAME[11]="hexsen929"
EXT_PACKAGES_PATH[11]=""
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/hexsen929/openwrt_packages"
EXT_PACKAGES_BRANCH[11]=""
